{% extends 'adminpanel--template.html' %}

{% block internalstyle %}
<style>
    .admin-options--content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .admin-options--head {
        font-size: 1.1em;
        margin-bottom: 1em;
    }

    .admin-options--content h4 {
        margin-left: 3px;
    }

    .admin-options--content input[type='password']{
        padding: 0.4em;
        margin-top: 2px;
        margin-bottom: 1em;
    }
    
</style>
{% endblock %}



{% block content %}

<h1>Password maintanence for <span style='margin-left: 0.2em; color:royalblue;'>'{{username}}'</span></h1>
<form action='/adminpanel/changepassword' method='POST' class='admin-options'>
    <div class="admin-options--block">
        <h3 class='admin-options--head'>Change password for account <i style='margin-left: 15px' class="fas fa-key"></i></h3>
        <div class="admin-options--content">
            {% if request.args.get('incorrectPassword') == 'True' %}
            <strong><p align='center' class="unsuccessful">Old password is wrong <i class="fa fa-times" aria-hidden="true"></i>
            </p></strong>

            {% elif request.args.get('passwordsNotMatch') == 'True' %}
            <strong><p align='center' class="unsuccessful">Passwords don't match <i class="fa fa-times" aria-hidden="true"></i>
            </p></strong>

            {% elif request.args.get('changedPassword') == 'True' %}
            <strong><p align='center' class="successful">Password changed successfully <i class="fa fa-check" aria-hidden="true"></i>
            </p></strong>

            {% endif %}

            <h4>Enter your old password:</h4>
            <input type="password" name="oldPassword" id="">

            <h4>Enter your new password</h4>
            <input type="password" name="newPassword" id="">

            <h4>Enter your new password again</h4>
            <input type="password" name="newPassword2" id="">

            <input type="submit" value="Change password"> 
        </div>
        
    </div>
</form>

<a style='display: flex; justify-content: flex-end' href='/adminpanel'><input class='back-button' value='Back to admin panel' type="submit"></a>


{% endblock %}