{% extends "template.html" %}

{% block content %}
<!--<img class='sad' src="{{ url_for('static', filename='assets/sad.svg') }}">-->

<div id="thankyou">
    <div class="textblock">
        <h1 align='center' style='text-transform: lowercase; font-weight: 400;'>Thanks for using NC Daily</h1>
        <br>
        <br>
        <p>We will miss you! If you decide to change your mind at anytime, you can resubscribe.</p>
        <a href='/'><input value='Take me back to home page' type="submit"></a>
    </div> 
</div>


{% endblock %}