{% extends "template.html" %}


<!-- title block -->
{% block title %}
<title>NC Daily | Home</title>
{% endblock %}

{% block precontent %}


  
  


{% endblock %}
<!-- content block -->
{% block content %}


<!-- <p id='carousel-above'>Check the notices in style. Every morning at 7.30am</p> -->
<form id='subscribe' method="POST" action="">
    <div>
        {% if duplicate %}
        <h2>I know you like our app, but you can't sign up twice...</h2>
        {% elif empty %}
        <h2>You haven't entered anything!</h2>
        {% elif invalid_email %}
        <h2>The email you entered is invalid!</h2>
        {% elif disabled %}
        <h2>Sorry, the app is currently disabled right now. It will be up soon though...</h2>
        {% elif blocked %}
        <h2>Please use your personal email address...</h2>
        {% else %}
        <h1>Get the notices via email</h1>
        {% endif %}
        <input placeholder='Your email here' type="email" name= "email"/>
        <input style='align-self: stretch;'value='Subscribe' type = "submit">
    </div>
</form> 
<div class="carousel bounce">
    <div style='background: #6941e1;' class="carousel-cell">
        <h2>Add to your calendar!</h2>
        <div class='carousel-cell-text'>
            <i style='color: #2a1273' class="fas fa-calendar-day"></i>
            <p style='color: #c5d1f6;'>In one click, you can add meetings, practices and events to your calendar.</p>
        </div>
    </div>
    
    <div style='background: #41b9e1;' class="carousel-cell">
        <h2>No more duplicates!</h2>
        <div class='carousel-cell-text'>
            <i class="fas fa-sort-amount-up-alt"></i>
            <p>The notices are now sorted into new and past, color coded for convenience.</p>
        </div>
        
    </div>

    <div style='background: royalblue' class="carousel-cell">
        <h2>Insta-email teachers!</h2>
        <div class='carousel-cell-text'>
            <i style='color: #0f2462' class="fas fa-mail-bulk"></i>
            <p style='color: #a7b9f1;'>Featuring an email button, the subject and recipient are already filled out.</p>
        </div>
    </div>

    
    <div style='background: #b941e1;'class="carousel-cell">
        <h2>Motivating quotes!</h2>
        <div class='carousel-cell-text'>
            <i style='color: #681584' class="fas fa-coffee"></i>
            <p style='color: #ebc9f6;'>Kick start your day with a spark of wisdom. Random daily quotes.</p>
        </div>
    </div>
    <div style='background: #e141b9' class="carousel-cell">
        <h2>Search function!</h2>
        <div class='carousel-cell-text'>
            <i style='color: #841568' class="fas fa-search"></i>
            <p style='color: #f4b8e5;'>Search by time, teacher, event, and location with Gmail search.</p>
        </div>
    </div>    
</div>


  
<!-- <h2>With better mobile support . . . </h2> -->
<div class="mobile-support">
    <h2>Packed with heaps of new features</h2>

    <div class="readable-notice-container">
        <div class="readable-notice readable-notice--red">Poly Club</div>
        <div class="readable-notice readable-notice--red">No assemblies today<br></div>
        <div class="readable-notice">Attendance / Absences</div>
        <div class="readable-notice">Lost Property</div>
        <div class="readable-notice">Sick</div>
    </div>
    
    <div class="readable-notice-description">
        <!-- <h2></h2> -->
        <ul>
            <div class='feature-grid'>

                <li><i style='margin-left: -4px; margin-right: 15px;' class="fas fa-book"></i>More readable layout</li>
                <li><i style='margin-right: 15px' class="fas fa-search"></i>Powerful search tool</li>
                <li><i style='margin-left: -4px; margin-right: 15px;' class="fas fa-sort-alpha-up"></i>Unique notices shown first</li>
                <li><i style='margin-left: -4px; margin-right: 15px;' class="fas fa-coffee"></i>7:30am on weekdays</li>
            </div>  

            <a href='#subscribe'><div style='color: white;' id='subscribe-button-bottompage'>
                {% if num_students > 20 %}
                <h1>{{num_students}}+ students</h1>
                <h4 style='color: rgba(255,255,255,0.6'>are already using this app</h4>
                {% else %}
                <li style='font-size: 1em; border-bottom: 1px solid #eee; font-weight: bold; color: rgba(255,255,255,0.9    ); font-style: normal; padding-bottom: 5px;'>Subscribe to NC Daily</li>
                <li style='color: rgba(255,255,255,0.5)'>Unsubscribe at any time</li>
                {% endif %} 
            </div></a>
            

            

        </ul>
    </div>
</div>



<!-- live demo -- uncomment to test -->
<!-- <div style='padding: 0 1em'>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
    <h2>Here's a live demo of one notice!</h2>
    <div class="notice-past" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-color:#ebecf1; border-left:6px solid #f43923; margin-bottom:20px; padding:10px; width:100%;" bgcolor="#ebecf1" width="95%">
        <h2 class="notice-title" style="font-size: 1.3em; margin:0; display:inline-block; width:65%" width="65%">PROGRAMMING CLUB</h2>
        <p class="date" style="margin:0; display:inline-block; float:right; font-family:Courier New; font-style:italic; font-weight:700; margin-bottom:20px; margin-right:1%; text-align:right; width:80px" align="right" width="80">Every Thursday Lunch</p>
        <div class="details-container" style="text-align:left; width:80%" align="left" width="80%">
            <p class="notice-details" style="margin:0 6px 0 0; display:inline-block; font-family:Courier New; font-size:15px; font-weight:400">B11</p><p class="notice-details" style="margin:0 6px 0 0; display:inline-block; font-family:Courier New; font-size:15px; font-weight:400">SD</p>
        </div>
    
        <p class="notice-description" style="margin:0; margin-top:15px; width:98%" width="98%">This is what the notices will look like in the newsletter. Click on the buttons on the right to try them.<br><br>The only difference will be the fonts (as Gmail doesn't like cool fonts)<br> </p>
        <div style="text-align: right;"><a href="mailto:sd@newlands.school.nz?subject=Programming%20Club" style="color:inherit; text-decoration:none"><img class="icon" style="display:inline-block; height:23px; margin-left:auto; margin-top:4px; margin-bottom:2px" src="https://cdn.pixabay.com/photo/2019/10/19/17/24/gmail-4561841_960_720.png" height="23"></a>
        <a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;dates=20200621T200000Z%2F20200621T201500Z&amp;text=Programming%20Club&amp;location=B11'&amp;details=You%20should%20come%20along" target="_blank" style="color:inherit; text-decoration:none"><img class="icon" style="display:inline-block; height:30px; margin-left:5px; margin-top:4px" src="https://purepng.com/public/uploads/large/purepng.com-calendar-icon-android-lollipopsymbolsiconsgooglegoogle-iconsandroid-lollipoplollipop-iconsandroid-50-721522597143e6f1s.png" height="30"></a>
        </div>
    </div>
</div> -->

<!-- <div class='device-agnostic-container'>
    <h2>Delivered every morning at 7.30am</h2>
    <div class="device-agnostic">
        <i class="fas fa-desktop"></i>
        <i class="fas fa-laptop"></i>
        <i class="fas fa-mobile-alt"></i>
        
    </div>
        <p style='padding-top: 0;'class='readable-notice-description'>Check everything in one place and never forget a meeting again.</p>
</div> -->
<!--        
    <h2>Helpful Buttons</h2>

    <div class="image-container">
        <a target='_blank' href='mailto:rub@newlands.school.nz?subject=The%20subject%20is%20prefilled%20out!'><img src="https://cdn.pixabay.com/photo/2019/10/19/17/24/gmail-4561841_960_720.png" alt=""></a>

    <a href="http://www.google.com/calendar/event?action=TEMPLATE&dates=20200702T204000Z%2F20200702T205500Z&text=Never%20forget%20a%20meeting%20again..." target="_blank"><img id='calendaricon' style='padding: 12px;' src="https://purepng.com/public/uploads/large/purepng.com-calendar-icon-android-lollipopsymbolsiconsgooglegoogle-iconsandroid-lollipoplollipop-iconsandroid-50-721522597143e6f1s.png" alt=""> </a>
        
    </div>
    
    <div class="readable-notice-description">
        <p>New email and calendar buttons on every notice.</p>
    </div>
</div> -->

<!-- <h2 style=' margin: 0 auto; margin-bottom: 1em; color: black; border-radius: 15px; padding: 0.4em 15px; font-weight: normal;'>Don't believe us, try it out!</h2>
<div id="body" style="font-family:Arial !important; margin:0 auto; max-width:650px; padding:0">
	<div class="topwrapper" style="margin-left:2.5%">
	<div class="topsection" style="background:linear-gradient(90deg, #3e3874 51%, #5c3874 88%); display:inline-block; padding-bottom:1%; padding-right:3px; width:97%" width="97%">
		<h1 id="title" style='color:#fff; font-family:"Arial", sans-serif; font-size:45px; font-weight:lighter; margin:0; padding:2% 0 0 3%'>Friday, Jun 27</h1>
		<p id="quote" style='margin:0; color:#fff; font-family:"Arial", sans-serif; font-weight:lighter; padding:2% 0 1% 3%'>"Strive not to be a success, but rather to be of value" - Albert Einstein</p>
	</div>
	</div>
	
	<div class="wrapper" style="margin-left:2.5%">
	<div class="new-notices" style="background:linear-gradient(90deg, #f05 24%, #f43923 88%); margin-bottom:20px; margin-top:20px; padding-bottom:2%; padding-right:3px; text-align:center; width:97%" align="center" width="97%">
		<h1 id="title-secondary" style='color:#fff; font-family:"Open Sans", sans-serif; font-size:45px; font-weight:lighter; margin:0; padding:2% 0 0 3%'>New Notices
	</h1></div>
	
	<div class="notice-new" style="background-color:#ebecf1; border-left:4px solid #f43923; margin-bottom:20px; padding:1%; width:95%" bgcolor="#ebecf1" width="95%">
		<h2 class="notice-title" style="font-family: Arial; margin:0; display:inline-block; width:70%" width="70%">POLY CLUB</h2>
		<p class="date" style="margin:0; display:inline-block; float:right; font-family:Courier New; font-style:italic; font-weight:700; margin-bottom:20px; margin-right:1%; text-align:right; width:80px" align="right" width="80">Mon 29 Jun  4.00 - 6.00</p>
		<div class="details-container" style="text-align:left; width:80%" align="left" width="80%">
			<p class="notice-details" style="margin:0 6px 0 0; display:inline-block; font-family:Courier New; font-size:15px; font-weight:400">GDRA </p><p class="notice-details" style="margin:0 6px 0 0; display:inline-block; font-family:Courier New; font-size:15px; font-weight:400">WK</p>
		</div>
	
		<p class="notice-description" style="font-family: Arial; margin:0; margin-top:15px; width:98%" width="98%">Talofa Lava, Malо̄ e lelei, Kia Orana, Taloha ni, Ni sa bula vinaka, Fa'aka alofo lahi atu and warm Pacific Greetings to you all. Poly Club is on Monday after school.</p>
		<div style="text-align: right;"><a href="mailto:wk@newlands.school.nz?subject=Poly%20Club" style="color:inherit; text-decoration:none"><img class="icon" style="display:inline-block; height:23px; margin-left:auto; margin-top:4px; margin-bottom:2px" src="https://cdn.pixabay.com/photo/2019/10/19/17/24/gmail-4561841_960_720.png" height="23"></a>
		<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;dates=20200629T040000Z%2F20200629T060000Z&amp;text=Poly%20Club&amp;location=&amp;details=" target="_blank" style="color:inherit; text-decoration:none"><img class="icon" style="display:inline-block; height:30px; margin-left:5px; margin-top:4px" src="https://purepng.com/public/uploads/large/purepng.com-calendar-icon-android-lollipopsymbolsiconsgooglegoogle-iconsandroid-lollipoplollipop-iconsandroid-50-721522597143e6f1s.png" height="30"></a>
		</div>
	</div>
	
	
	<div class="past-notices" style="background:linear-gradient(90deg, #0ac 24%, #00d5ff 88%); margin-bottom:20px; margin-top:20px; padding-bottom:2%; padding-right:3px; text-align:center; width:97%" align="center" width="97%">
		<h1 id="title-secondary" style='color:#fff; font-family:"Open Sans", sans-serif; font-size:45px; font-weight:lighter; margin:0; padding:2% 0 0 3%'>Past Notices
	</h1></div>
	
	<div class="notice-past" style="background-color:#ebecf1; border-left:4px solid #0ac; margin-bottom:20px; padding:1%; width:95%" bgcolor="#ebecf1" width="95%">
		<h2 class="notice-title" style="font-family: Arial;margin:0; display:inline-block; width:70%" width="70%">L1,  L2, L COMPUTER POD USAGE</h2>
		<p class="date" style="margin:0; display:inline-block; float:right; font-family:Courier New; font-style:italic; font-weight:700; margin-bottom:20px; margin-right:1%; text-align:right; width:80px" align="right" width="80">Thu 25 Jun  </p>
		<div class="details-container" style="text-align:left; width:80%" align="left" width="80%">
			<p class="notice-details" style="margin:0 6px 0 0; display:inline-block; font-family:Courier New; font-size:15px; font-weight:400">L1 &amp; L2</p><p class="notice-details" style="margin:0 6px 0 0; display:inline-block; font-family:Courier New; font-size:15px; font-weight:400">WA</p>
		</div>
	
		<p class="notice-description" style="font-family: Arial;margin:0; margin-top:15px; width:98%" width="98%">L1, L2 and L computer pod are special classrooms so no Year 9 and 10 students allowed during the intervals and lunchtimes unless they have art homework to do.</p>
		<div style="text-align: right;"><a href="mailto:wa@newlands.school.nz?subject=L1,%20%20L2,%20L%20Computer%20Pod%20Usage" style="color:inherit; text-decoration:none"><img class="icon" style="display:inline-block; height:23px; margin-left:auto; margin-top:4px; margin-bottom:2px" src="https://cdn.pixabay.com/photo/2019/10/19/17/24/gmail-4561841_960_720.png" height="23"></a>
		<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;dates=20200624T204000Z%2F20200624T205500Z&amp;text=L1,%20%20L2,%20L%20Computer%20Pod%20Usage&amp;location=&amp;details=" target="_blank" style="color:inherit; text-decoration:none"><img class="icon" style="display:inline-block; height:30px; margin-left:5px; margin-top:4px" src="https://purepng.com/public/uploads/large/purepng.com-calendar-icon-android-lollipopsymbolsiconsgooglegoogle-iconsandroid-lollipoplollipop-iconsandroid-50-721522597143e6f1s.png" height="30"></a>
		</div>
	</div>
	
	</div>
</div> -->
<!-- <h2 style='padding: 0.7em 15px; margin-bottom: 0; color: black; background-color: #e1b941;'  align='center'></h2> -->
<h2 style=' margin: 0 auto; color: black; border-radius: 15px; padding: 0.4em 15px; padding-top: 0; margin-bottom: 1.4em; font-weight: normal;'>Never forget your meetings again</h2>
<a href='#subscribe'><div class='app-stats'>
    <div>
        <p><i style='margin-right: 5px' class="fas fa-quote-left"></i>Reading the notices through email is so much better and the reminders help a lot.<i style='margin-left: 5px' class="fas fa-quote-right"></i></p>
        <h3>V. Kumar</h3>
    </div>
    <div>
        <p><i style='margin-right: 5px' class="fas fa-quote-left"></i>I hadn't checked the notices all-year until I used NC Daily. Now, I end up checking them everyday.<i style='margin-left: 5px' class="fas fa-quote-right"></i></p>
        <h3>C. Milmine</h3>
    </div>
    <div>
        <p><i style='margin-right: 5px' class="fas fa-quote-left"></i>The layout is super clean and really readable. It really is quite a difference to what we had before.<i style='margin-left: 5px' class="fas fa-quote-right"></i></p>
        <h3>A. DeLeon</h3>
    </div>
</div></a>
{% endblock %}

{% block outside_content %}
<!-- <div class="line"></div> -->

</div>

<script src="{{ url_for('static', filename='js/flick.js') }}"></script>
{% endblock %}